.nav {
  width: 25vw;
  padding: 1rem;

  &__home-link {
    text-decoration: none;
    color: inherit;
  }
}

.team-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 0.5rem;
  }
}
