.player-section {
  margin-bottom: 2rem;

  &__title {
    text-transform: uppercase;
    font-size: 1rem;
    color: #444;
  }
}

.player-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
