body {
    margin:0;
    background-color: #f4f4f4
}
.navStyles {
    background-color: #2a354d;
    height: 4.5em;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: -1px -1px 33px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 33px -2px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 33px -2px rgba(0,0,0,0.75);
}
.imgStyles {
    padding: 0 0 0 2em;
    height: 3.5em;
    width: 20em;
    display: flex;
}

.imgStyles img {
    width: 30%;
    margin-right: 1rem;
}

.flexer {
    display: flex
}
.aligner{
    align-items: center;
}
.nav-left {
    padding: 0 1em 0 0;
    width: 45%;
    justify-content: space-between;
}
.btnStyles{
    text-decoration: none;
    background-color: #444444;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    font-size: 1em;
    height: 2em;
    width: 8em;
}
ul {
    list-style-type: none;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li {
    margin-left: 0.5rem;
}

img{
    width: 100%;
    height: 100%;
}
p{
    font-weight: bold;
    align-self: center;
}
.imageContainer{
    width: 20rem;
    margin-bottom: 1rem;
}

.hidden {
    visibility: hidden;
}